parameters:
  level: 3
  paths:
    - src
    - search-replace-command.php
  scanDirectories:
    - vendor/fp-cli/fp-cli/php
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
  treatPhpDocTypesAsCertain: false
